<div class="popup-container popup-overlay" id="tour_details_popup">
  <div class="popup-content">
    <div class="popup-title"></div>
    <div class="tour-content-item"><%= t ".category_name" %><span id="tour_category_name"></span></div>
    <div class="tour-content-item"><%= t ".cost" %><span id="tour_cost"></span></div>
    <div class="tour-content-item"><%= t ".description" %><span id="tour_description"></span></div>
    <div class="tour-content-item"><%= t ".start_date" %><span id="tour_start_date"></span></div>
    <div class="tour-content-item"><%= t ".end_date" %><span id="tour_end_date"></span></div>
    <div class="tour-content-item"><%= t ".visit_location" %><span id="tour_visit_location"></span></div>
    <div class="tour-content-item"><%= t ".start_location" %><span id="tour_start_location"></span></div>
    <div class="tour-content-item"><%= t ".tour_guide_cost" %><span id="tour_guide_cost"></span></div>
    <div class="popup-control">
      <div class="close-btn btn btn-primary"><%= t ".close_button" %></div>
    </div>
  </div>
</div>
