<% provide :title, t(".title") %>
<% content_for :management do %>
  <div class="tour-navbar">
    <button type="button" class="btn btn-primary">
      <%= link_to t(".new_tour_text"), new_admin_tour_path %>
    </button>
    <div class="search_input">
      <%= search_form_for @q, url: admin_tours_path, method: :get, remote: true do |f| %>
        <%= f.select :category_id_eq, options_for_select(load_search_categories) %>
        <%= f.search_field :created_at_date_equals, placeholder: t(".placeholder_date"), class: "form-control" %>
        <%= f.search_field :tour_cont, placeholder: t(".placeholder_text"), class: "form-control" %>
        <%= f.submit t(".filter_button"), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class="tour-table">
    <table>
      <thead>
        <tr>
          <th class="td-text-center"><%= t ".tour_table.tour_number" %></th>
          <th class="td-text-center"><%= t ".tour_table.image" %></th>
          <th><%= t ".tour_table.tour_name" %></th>
          <th><%= t ".tour_table.category" %></th>
          <th class="td-text-center"><%= t ".tour_table.cost" %></th>
          <th><%= t ".tour_table.visit_location" %></th>
          <th class="td-text-center"><%= t ".tour_table.start_date" %></th>
          <th class="td-text-center"><%= t ".tour_table.end_date" %></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="tour_paginate">
        <% @tours.each.with_index(1) do |tour, index| %>
          <%= render tour, index: index %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="table-paging flex">
    <div id="pagy_navbar">
      <%== render partial: "shared/pagination", locals: {pagy: @pagy_tours} %>
    </div>
  </div>
  <div class="popup-overlay" id="tour-details-popup">
    <div class="popup-content"></div>
  </div>
<% end %>
