<tr>
  <td class="td-text-center"><%= order.id %></td>
  <td class="td-text-center"><%= image_tag order.display_image %></td>
  <td><%= order.tour_name %></td>
  <td class="td-text-center"><%= number_to_currency order.tour_cost %></td>
  <td class="td-text-center"><%= order.amount_member %></td>
  <td><%= order.contact_name %></td>
  <td><%= order.contact_phone %></td>
  <td><%= order.contact_address %></td>
  <td class="td-text-center">
    <% if order.tour_guide? %>
      <div class="check-mark">&checkmark;</div>
      <% end %>
  </td>
  <td class="td-text-right"><%= number_to_currency order.total_cost %></td>
  <td>
    <div id="td_order_status">
      <% if order.pending? %>
        <%= form_for :order, url: admin_order_url(order), method: :patch, remote: true do |f| %>
          <% f.label :status %>
          <%= select_tag :status, options_for_select(load_status, selected: order.status), disabled: !order.pending? %>
          <%= f.submit t("admin.orders.index.submit_button"), id: "btnSaveOrderForm", class: "btn btn-primary" %>
        <% end %>
      <% elsif order.approved? %>
        <div class="approved-status flex"><%= t "admin.orders.index.approved_status" %></div>
      <% elsif order.cancelled? %>
        <div class="cancelled-status flex"><%= t "admin.orders.index.cancelled_status" %></div>
      <% end %>
    </div>
  </td>
</tr>
