<div class="popup-container popup-overlay" id="order_details_popup">
  <div class="popup-content">
    <div class="popup-title"><%= t ".order_number" %><span id="order_id"><span></div>
    <div class="tour-content-item"><%= t ".tour_name" %><span id="order_tour_name"></span></div>
    <div class="tour-content-item"><%= t ".unit_cost" %><span id="order_unit_cost"></span></div>
    <div class="tour-content-item"><%= t ".amount_member" %><span id="order_member"></span></div>
    <div class="tour-content-item"><%= t ".order_user" %><span id="order_user"></span></div>
    <div class="tour-content-item"><%= t ".contact_name" %><span id="order_contact_name"></span></div>
    <div class="tour-content-item"><%= t ".contact_phone" %><span id="order_contact_phone"></span></div>
    <div class="tour-content-item"><%= t ".contact_address" %><span id="order_contact_address"></span></div>
    <div class="tour-content-item"><span id="order_tour_guide"></span></div>
    <div class="tour-content-item"><%= t ".status" %><span id="order_status"></span></div>
    <div class="popup-control">
      <div class="close-btn btn btn-primary"><%= t ".close_button" %></div>
    </div>
  </div>
</div>
