<% provide :title, t(".title") %>
<% content_for :management do %>
  <div class="order-header-navbar flex">
    <div class="search_input">
      <%= form_tag admin_orders_path, method: :get, remote: true, class: "search" do %>
        <%= select_tag :status_search, options_for_select(load_search_status) %>
        <%= text_field_tag :search_text, nil, class: "form-control", placeholder: t(".search_placeholder") %>
        <%= submit_tag t(".search_button"), class: "btn-search-order btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class="order-table">
    <table>
      <thead>
        <tr>
          <th class="td-text-center"><%= t ".order_table.order_number" %></th>
          <th class="td-text-center"><%= t ".order_table.image" %></th>
          <th><%= t ".order_table.tour_name" %></th>
          <th class="td-text-center"><%= t ".order_table.cost" %></th>
          <th><%= t ".order_table.member" %></th>
          <th><%= t ".order_table.contact_name" %></th>
          <th class="td-text-center"><%= t ".order_table.contact_phone" %></th>
          <th><%= t ".order_table.contact_address" %></th>
          <th class="td-text-center"><%= t ".order_table.tour_guide" %></th>
          <th class="td-text-center"><%= t ".order_table.total_cost" %></th>
          <th><%= t ".order_table.status" %></th>
        </tr>
      </thead>
      <tbody id="order_paginate">
        <%= render @orders %>
      </tbody>
    </table>
  </div>
  <div class="table-paging flex">
    <div id="order_navbar">
      <%== render partial: "shared/pagination", locals: {pagy: @pagy_orders} %>
    </div>
  </div>
<% end %>
