<%= stylesheet_link_tag "new", media: "all", "data-turbolinks-track": "reload" %>
<% provide :title, t(".title") %>
<div class="login-screen">
  <div class="login-container">
    <div class="text-center">
      <h1 class="h4 text-gray-900 mb-2"><%= t ".logo" %></h1>
    </div>
    <%= form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :put } do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>
      <div class="form-group">
        <%= f.label :password, t(".label_new_password") %><span class="required">&nbsp;*</span>
        <% if @minimum_password_length %>
          <em><%= t ".minimum_character", minimum_character: @minimum_password_length %></em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, t(".label_confirm_password") %><span class="required">&nbsp;*</span>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>
      <%= f.submit t(".change_password_button"), class: "btn btn-primary btn-block" %>
    <% end %>
    <div class="text-center back-to-login">
      <%= link_to t(".back_to_login"), login_path %>
    </div>
  </div>
</div>
