<div class="tour-item">
  <%= image_tag tour.display_image, class: "tour-image" %>
  <div class="tour-item-content">
    <%= link_to tour.name, tour_path(id: tour.id), class: "tour-name" %>
    <p><%= t "tours.location", location: tour.visit_location %></p>
    <p><%= t "tours.start_date", start_date: l(tour.start_date) %>
    <div class="tour-price">
      <span class="tour-price-text"><%= number_to_currency tour.cost %></span>
    </div>
  </div>
</div>
