<li class="tour_item">
  <%= image_tag tour_home.display_image, class: "tour_image" %>
  <div class="tour_item__content">
    <p class="title">
      <%= tour_home.name %>
    </p>
    <p>
      <%= t "tours.location", location: tour_home.visit_location %>
    </p>
    <p>
      <%= t "tours.duration", duration: tour_home.category.duration %>
    </p>
    <p>
      <%= t "tours.start_date",
          start_date: tour_home.start_date.strftime(Settings.format_date_f) %>
    </p>
    <%= link_to t("tours.detail"), tour_path(id: tour_home.id),
        class: "btn btn-success"
    %>
  </div>
</li>
