<div class="search_input">
  <%= form_tag tours_path, method: :get, class: "search" do %>
    <%= text_field_tag :name %>
    <%= submit_tag t("home.search"), class: "btn btn-success" %>
  <% end %>
</div>
<% if @tours.present? %>
  <ul class="tour_home_page">
    <%= render partial: "tours/tour_home", collection: @tours %>
  </ul>
  <%== pagy_bootstrap_nav @pagy %>
<% else %>
  <div>
    <h3>
      <%= t "tours.not_found" %>
    </h3>
  </div>
<% end %>
