<div class="tour-container flex">
  <div class="tour-filter">
    <%= search_form_for @q, url: tours_path, method: :get, remote: true, id: "tour_filter" do |f| %>
      <div class="filter-box">
        <div class="filter-box-item">
          <div class="filter-by"><%= t ".search_text" %></div>
          <div class="form-search">
            <%= f.search_field :tour_cont, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="filter-box">
        <div class="filter-box-item">
          <div class="filter-by"><%= t ".cost_range" %></div>
          <div class="form-search">
            <%= select_tag :cost_range, options_for_select(load_cost_range_options), id: "select_cost_range" %>
            <%= f.search_field :cost_gteq, class: "hide", id: "cost_gteq" %>
            <%= f.search_field :cost_lteq, class: "hide", id: "cost_lteq" %>
          </div>
        </div>
      </div>
      <div class="filter-box">
        <div class="filter-box-item">
          <div class="filter-by"><%= t ".category" %></div>
          <div class="form-search">
            <% load_search_categories.each do |category| %>
              <%= f.radio_button :category_id_eq, category[1], class: "form-check-input" %>
              <%= f.label "category_id_eq_#{category[1]}", category[0], class: "form-check-label" %></br>
            <% end %>
            <%= f.submit t(".filter_button"), class: "hide", id: "btn_filter_by" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="tour-grid">
    <div class="tour-show">
      <% if @tours.present? %>
        <div id="tour_grid" class="tour-grid"><%= render partial: "tours/tour", collection: @tours %></div>
        <div id="tour_paging">
          <%== render partial: "shared/pagination", locals: {pagy: @pagy_tours} %>
        </div>
      <% else %>
        <h3><%= t "tours.not_found" %></h3>
      <% end %>
    </div>
  </div>
</div>
