<div class="detail-container">
  <div class="detail-left">
    <div class="detail-header"><%= @tour.name %></div>
    <%= image_tag @tour.display_image, class: "tour_image" %>
    <div class="detail-tour">
      <div class="detail-tour-header"><%= t ".detail_header" %></div>
      <div class="tour-info">
        <div class="tour-info-title"><%= t ".description" %></div>
        <div class="tour-info-content"><%= @tour.description %></div>
        <div class="tour-info-title"><%= t ".schedule" %></div>
        <div class="tour-info-content"><%= @tour.content %></div>
        <div class="tour-info-title"><%= t ".option_title" %></div>
        <div><%= render partial: "tours/tour_option", collection: @tour.options %></div>
      </div>
    </div>
    <div class="detail-tour">
      <div class="detail-tour-header"><%= t ".comment_title" %></div>
      <div class="tour-info tour-info-comment">
        <% if @tour.comments.present? %>
          <% @tour.comments.each do |comment| %>
            <div class="tour-comment">
              <div class="user-comment">
                <%= comment.user.name if comment.review.present? %>
                <% if comment.rate.present? %>
                  <span class="user-rate"><%= t ".user_rate", rate: comment.rate %></span>
                <% end%>
              </div>
              <div class="comment-line">
                <%= comment.review if comment.review.present? %>
              </div>
            </div>
          <% end%>
        <% else %>
          <div class="tour-info-content"><%= t ".not_comment" %></div>
        <% end%>
      </div>
    </div>
  </div>
  <div class="detail-right">
    <div class="tour-price">
      <div class="tour-price-title"><%= t ".price_title" %></div>
      <div class="tour-price-text"><%= number_to_currency @tour.cost %></div>
    </div>
      <% if Date.today > @tour.start_date %>
        <div class="disable-tour-button">
          <%= t ".disable_order_button" %>
        </div>
      <% elsif tour_ordered? %>
        <div class="tour-button">
          <%= link_to t(".view_order_button"), user_orders_path(current_user) %>
        </div>
      <% else %>
        <div class="tour-button">
          <%= link_to t(".order_button"), new_order_path %>
        </div>
      <% end %>
    <div class="tour-date">
      <div><%= t "tours.start_date", start_date: l(@tour.start_date) %></span>
      <div><%= t "tours.end_date", end_date: l(@tour.end_date) %></span>
      <div><%= t "tours.location", location: @tour.visit_location %></span>
      <div><%= t "tours.start_location", start_location: @tour.start_location %></span>
    </div>
  </div>
</div>
