<div class="user-order">
  <div class="flex">
    <div class="user-order-title"><%= t ".order_number", order_number: order.id %></div>
    <% if order.pending? %>
      <div class="order-status grey-bg"><%= order.status %></div>
      <%= form_for :order, url: order_url(order), method: :patch, remote: true do |f| %>
        <%= f.submit t(".cancel_order"), id: "btnSaveOrderForm", class: "btn btn-primary", data: {confirm: "Bạn có chắc chắn muốn hủy tour?"} %>
      <% end %>
    <% elsif order.approved? %>
      <div class="order-status blue-bg"><%= order.status %></div>
    <% else %>
      <div class="order-status <%= order.done? ? "green-bg" : "red-bg"%>"><%= order.status %></div>
    <% end %>
  </div>
  <div class="order-info flex">
    <%= image_tag order.display_image, class: "order-image" %>
    <div class="order-tour-info">
      <div class="tour-name"><%= order.tour_name %></div>
      <div class="tour-info">
        <div class="tour-info-item flex">
          <div class="point"></div>
          <%= t ".tour_cost", tour_cost: number_to_currency(order.tour_cost) %>
        </div>
        <div class="tour-info-item flex">
          <div class="point"></div>
          <%= t ".member", member: order.amount_member %>
        </div>
        <div class="tour-info-item flex">
          <div class="point"></div>
          <%= t ".start_date", start_date: l(order.tour_start_date) %>
        </div>
        <div class="tour-info-item flex">
          <div class="point"></div>
          <%= t ".end_date", end_date: l(order.tour_end_date) %>
        </div>
        <div class="tour-info-item flex">
          <div class="point"></div>
          <%= t ".visit_location", visit_location: order.tour_visit_location %>
        </div>
        <% if order.tour_guide? %>
          <div class="tour-info-item flex">
            <div class="checkmark">&checkmark;</div>
            <%= t ".tour_guide" %>
          </div>
        <% else %>
          <div class="tour-info-item flex">
            <div class="uncheckmark">x</div>
            <%= t ".not_tour_guide" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="order-payment">
      <div><%= t ".total_cost" %></div>
      <div class="total-cost"><%= number_to_currency order.total_cost %></div>
    </div>
  </div>
  <% if order.done? && order.comment %>
    <div class="flex">
      <%= render partial: "comments/comment_form", locals:{comment: order.comment, form_path: comment_path(order.comment)} %>
      <%= link_to t(".delete_comment_button"), order.comment, method: :delete, data: {confirm: t(".confirm_delete_comment")}, class: "btn btn-danger delete-comment-btn" %>
    </div>
  <% elsif order.done? %>
    <%= render partial: "comments/comment_form", locals:{comment: Comment.new(order: order), form_path: comments_path} %>
  <% end %>
</div>
