<p><%= t ".hello", user: @resource.email %></p>

<p><%= t ".link_bellow" %></p>

<p><%= link_to t(".link_title"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t ".ignore" %></p>
<p><%= t ".notice" %></p>
