<nav class="navbar navbar-home navbar-expand-lg">
  <%= link_to t("home.title"), root_path, class: "redirect_tag title" %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if user_signed_in? %>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle"
        type="button" data-toggle="dropdown" aria-expanded="false">
          <%= t "home.hello" + " " + current_user.name %>
        </button>
        <div class="dropdown-menu">
          <%= link_to t("home.profile"), user_path(current_user) ,class:"dropdown-item" %>
          <%= link_to t("home.order"), user_orders_path(current_user),class:"dropdown-item" %>
          <%= link_to t("admin.logout_button"), logout_path, method: :delete, class:"dropdown-item" %>
        </div>
      </div>
    <% else %>
      <%= link_to t("devise.sessions.new.login_button"),
        login_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</nav>
<script src="/admin_layout/vendor/jquery/jquery.min.js"></script>
<script src="/admin_layout/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/admin_layout/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/admin_layout/js/sb-admin-2.min.js"></script>
